@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-p4Y-dtEPzpXs_font-family: "Source Sans 3", sans-serif;
  --mixin-p4Y-dtEPzpXs_font-size: 16px;
  --mixin-p4Y-dtEPzpXs_font-weight: 400;
  --mixin-p4Y-dtEPzpXs_font-style: normal;
  --mixin-p4Y-dtEPzpXs_color: #535353;
  --mixin-p4Y-dtEPzpXs_text-align: left;
  --mixin-p4Y-dtEPzpXs_text-transform: none;
  --mixin-p4Y-dtEPzpXs_line-height: 1.5;
  --mixin-p4Y-dtEPzpXs_letter-spacing: normal;
  --mixin-p4Y-dtEPzpXs_white-space: pre-wrap;
  --mixin-p4Y-dtEPzpXs_user-select: text;
  --mixin-p4Y-dtEPzpXs_text-decoration-line: none;
  --mixin-p4Y-dtEPzpXs_text-overflow: clip;
  --mixin-wt6-cXiJ7-w4_font-family: "Source Sans 3", sans-serif;
  --mixin-wt6-cXiJ7-w4_color: #000000;
  --mixin-wt6-cXiJ7-w4_font-size: 72px;
  --mixin-wt6-cXiJ7-w4_font-weight: 900;
  --mixin-wt6-cXiJ7-w4_letter-spacing: -4px;
  --mixin-wt6-cXiJ7-w4_line-height: 1;
  --mixin-wt6-cXiJ7-w4_white-space: pre-wrap;
  --mixin-JCv1omNA6CI2_font-family: "Source Sans 3", sans-serif;
  --mixin-JCv1omNA6CI2_color: #000000;
  --mixin-JCv1omNA6CI2_font-size: 48px;
  --mixin-JCv1omNA6CI2_font-weight: 700;
  --mixin-JCv1omNA6CI2_letter-spacing: -1px;
  --mixin-JCv1omNA6CI2_line-height: 1.1;
  --mixin-JCv1omNA6CI2_white-space: pre-wrap;
  --mixin-9b9ogPYbgm0t_font-family: "Source Sans 3", sans-serif;
  --mixin-9b9ogPYbgm0t_color: #000000;
  --mixin-9b9ogPYbgm0t_font-size: 32px;
  --mixin-9b9ogPYbgm0t_font-weight: 600;
  --mixin-9b9ogPYbgm0t_letter-spacing: -0.8px;
  --mixin-9b9ogPYbgm0t_line-height: 1.2;
  --mixin-9b9ogPYbgm0t_white-space: pre-wrap;
  --mixin-8R5v1Ug6zKpF_font-family: "Source Sans 3", sans-serif;
  --mixin-8R5v1Ug6zKpF_color: #000000;
  --mixin-8R5v1Ug6zKpF_font-size: 24px;
  --mixin-8R5v1Ug6zKpF_font-weight: 600;
  --mixin-8R5v1Ug6zKpF_letter-spacing: -0.5px;
  --mixin-8R5v1Ug6zKpF_line-height: 1.3;
  --mixin-8R5v1Ug6zKpF_white-space: pre-wrap;
  --mixin-3ul9qn5YgZHx_font-family: "Source Sans 3", sans-serif;
  --mixin-3ul9qn5YgZHx_color: #000000;
  --mixin-3ul9qn5YgZHx_font-size: 20px;
  --mixin-3ul9qn5YgZHx_font-weight: 600;
  --mixin-3ul9qn5YgZHx_letter-spacing: -0.3px;
  --mixin-3ul9qn5YgZHx_line-height: 1.5;
  --mixin-3ul9qn5YgZHx_white-space: pre-wrap;
  --mixin-hAaYrdTg9Qpq_font-family: "Source Sans 3", sans-serif;
  --mixin-hAaYrdTg9Qpq_color: #000000;
  --mixin-hAaYrdTg9Qpq_font-size: 16px;
  --mixin-hAaYrdTg9Qpq_font-weight: 600;
  --mixin-hAaYrdTg9Qpq_line-height: 1.5;
  --mixin-hAaYrdTg9Qpq_white-space: pre-wrap;
  --mixin-YHnLmP4xZKiQ_color: #0070f3;
  --mixin-YHnLmP4xZKiQ_white-space: pre-wrap;
  --mixin-zDv0hd0UkNJx_color: #3291ff;
  --mixin-zDv0hd0UkNJx_white-space: pre-wrap;
  --mixin-qB-Ij-19Gi82_border-left-color: #dddddd;
  --mixin-qB-Ij-19Gi82_border-left-style: solid;
  --mixin-qB-Ij-19Gi82_border-left-width: 3px;
  --mixin-qB-Ij-19Gi82_color: #888888;
  --mixin-qB-Ij-19Gi82_padding-left: 10px;
  --mixin-qB-Ij-19Gi82_white-space: pre-wrap;
  --mixin-_h2xF3uWOw9f_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_h2xF3uWOw9f_border-bottom-color: #dddddd;
  --mixin-_h2xF3uWOw9f_border-bottom-style: solid;
  --mixin-_h2xF3uWOw9f_border-bottom-width: 1px;
  --mixin-_h2xF3uWOw9f_border-left-color: #dddddd;
  --mixin-_h2xF3uWOw9f_border-left-style: solid;
  --mixin-_h2xF3uWOw9f_border-left-width: 1px;
  --mixin-_h2xF3uWOw9f_border-right-color: #dddddd;
  --mixin-_h2xF3uWOw9f_border-right-style: solid;
  --mixin-_h2xF3uWOw9f_border-right-width: 1px;
  --mixin-_h2xF3uWOw9f_border-top-color: #dddddd;
  --mixin-_h2xF3uWOw9f_border-top-style: solid;
  --mixin-_h2xF3uWOw9f_border-top-width: 1px;
  --mixin-_h2xF3uWOw9f_border-bottom-left-radius: 3px;
  --mixin-_h2xF3uWOw9f_border-bottom-right-radius: 3px;
  --mixin-_h2xF3uWOw9f_border-top-left-radius: 3px;
  --mixin-_h2xF3uWOw9f_border-top-right-radius: 3px;
  --mixin-_h2xF3uWOw9f_font-family: "Inconsolata";
  --mixin-_h2xF3uWOw9f_padding-bottom: 1px;
  --mixin-_h2xF3uWOw9f_padding-left: 4px;
  --mixin-_h2xF3uWOw9f_padding-right: 4px;
  --mixin-_h2xF3uWOw9f_padding-top: 1px;
  --mixin-_h2xF3uWOw9f_white-space: pre-wrap;
  --mixin-tYqub1Nktihl_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tYqub1Nktihl_border-bottom-color: #dddddd;
  --mixin-tYqub1Nktihl_border-bottom-style: solid;
  --mixin-tYqub1Nktihl_border-bottom-width: 1px;
  --mixin-tYqub1Nktihl_border-left-color: #dddddd;
  --mixin-tYqub1Nktihl_border-left-style: solid;
  --mixin-tYqub1Nktihl_border-left-width: 1px;
  --mixin-tYqub1Nktihl_border-right-color: #dddddd;
  --mixin-tYqub1Nktihl_border-right-style: solid;
  --mixin-tYqub1Nktihl_border-right-width: 1px;
  --mixin-tYqub1Nktihl_border-top-color: #dddddd;
  --mixin-tYqub1Nktihl_border-top-style: solid;
  --mixin-tYqub1Nktihl_border-top-width: 1px;
  --mixin-tYqub1Nktihl_border-bottom-left-radius: 3px;
  --mixin-tYqub1Nktihl_border-bottom-right-radius: 3px;
  --mixin-tYqub1Nktihl_border-top-left-radius: 3px;
  --mixin-tYqub1Nktihl_border-top-right-radius: 3px;
  --mixin-tYqub1Nktihl_font-family: "Inconsolata";
  --mixin-tYqub1Nktihl_padding-bottom: 3px;
  --mixin-tYqub1Nktihl_padding-left: 6px;
  --mixin-tYqub1Nktihl_padding-right: 6px;
  --mixin-tYqub1Nktihl_padding-top: 3px;
  --mixin-tYqub1Nktihl_white-space: pre-wrap;
  --mixin-tTUk6kCAWj9V_display: flex;
  --mixin-tTUk6kCAWj9V_flex-direction: column;
  --mixin-tTUk6kCAWj9V_align-items: stretch;
  --mixin-tTUk6kCAWj9V_justify-content: flex-start;
  --mixin-tTUk6kCAWj9V_list-style-position: outside;
  --mixin-tTUk6kCAWj9V_padding-left: 40px;
  --mixin-tTUk6kCAWj9V_position: relative;
  --mixin-tTUk6kCAWj9V_list-style-type: decimal;
  --mixin-tTUk6kCAWj9V_white-space: pre-wrap;
  --mixin-2VbsPljCQPcX_display: flex;
  --mixin-2VbsPljCQPcX_flex-direction: column;
  --mixin-2VbsPljCQPcX_align-items: stretch;
  --mixin-2VbsPljCQPcX_justify-content: flex-start;
  --mixin-2VbsPljCQPcX_list-style-position: outside;
  --mixin-2VbsPljCQPcX_padding-left: 40px;
  --mixin-2VbsPljCQPcX_position: relative;
  --mixin-2VbsPljCQPcX_list-style-type: disc;
  --mixin-2VbsPljCQPcX_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-p4Y-dtEPzpXs_font-family);
  font-size: var(--mixin-p4Y-dtEPzpXs_font-size);
  font-weight: var(--mixin-p4Y-dtEPzpXs_font-weight);
  font-style: var(--mixin-p4Y-dtEPzpXs_font-style);
  color: var(--mixin-p4Y-dtEPzpXs_color);
  text-align: var(--mixin-p4Y-dtEPzpXs_text-align);
  text-transform: var(--mixin-p4Y-dtEPzpXs_text-transform);
  line-height: var(--mixin-p4Y-dtEPzpXs_line-height);
  letter-spacing: var(--mixin-p4Y-dtEPzpXs_letter-spacing);
  white-space: var(--mixin-p4Y-dtEPzpXs_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-wt6-cXiJ7-w4_font-family);
  color: var(--mixin-wt6-cXiJ7-w4_color);
  font-size: var(--mixin-wt6-cXiJ7-w4_font-size);
  font-weight: var(--mixin-wt6-cXiJ7-w4_font-weight);
  letter-spacing: var(--mixin-wt6-cXiJ7-w4_letter-spacing);
  line-height: var(--mixin-wt6-cXiJ7-w4_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-JCv1omNA6CI2_font-family);
  color: var(--mixin-JCv1omNA6CI2_color);
  font-size: var(--mixin-JCv1omNA6CI2_font-size);
  font-weight: var(--mixin-JCv1omNA6CI2_font-weight);
  letter-spacing: var(--mixin-JCv1omNA6CI2_letter-spacing);
  line-height: var(--mixin-JCv1omNA6CI2_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-9b9ogPYbgm0t_font-family);
  color: var(--mixin-9b9ogPYbgm0t_color);
  font-size: var(--mixin-9b9ogPYbgm0t_font-size);
  font-weight: var(--mixin-9b9ogPYbgm0t_font-weight);
  letter-spacing: var(--mixin-9b9ogPYbgm0t_letter-spacing);
  line-height: var(--mixin-9b9ogPYbgm0t_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-8R5v1Ug6zKpF_font-family);
  color: var(--mixin-8R5v1Ug6zKpF_color);
  font-size: var(--mixin-8R5v1Ug6zKpF_font-size);
  font-weight: var(--mixin-8R5v1Ug6zKpF_font-weight);
  letter-spacing: var(--mixin-8R5v1Ug6zKpF_letter-spacing);
  line-height: var(--mixin-8R5v1Ug6zKpF_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-3ul9qn5YgZHx_font-family);
  color: var(--mixin-3ul9qn5YgZHx_color);
  font-size: var(--mixin-3ul9qn5YgZHx_font-size);
  font-weight: var(--mixin-3ul9qn5YgZHx_font-weight);
  letter-spacing: var(--mixin-3ul9qn5YgZHx_letter-spacing);
  line-height: var(--mixin-3ul9qn5YgZHx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-hAaYrdTg9Qpq_font-family);
  color: var(--mixin-hAaYrdTg9Qpq_color);
  font-size: var(--mixin-hAaYrdTg9Qpq_font-size);
  font-weight: var(--mixin-hAaYrdTg9Qpq_font-weight);
  line-height: var(--mixin-hAaYrdTg9Qpq_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-YHnLmP4xZKiQ_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-zDv0hd0UkNJx_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-qB-Ij-19Gi82_color);
  padding-left: var(--mixin-qB-Ij-19Gi82_padding-left);
  border-left: var(--mixin-qB-Ij-19Gi82_border-left-width)
    var(--mixin-qB-Ij-19Gi82_border-left-style)
    var(--mixin-qB-Ij-19Gi82_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_h2xF3uWOw9f_font-family);
  border-radius: var(--mixin-_h2xF3uWOw9f_border-top-left-radius)
    var(--mixin-_h2xF3uWOw9f_border-top-right-radius)
    var(--mixin-_h2xF3uWOw9f_border-bottom-right-radius)
    var(--mixin-_h2xF3uWOw9f_border-bottom-left-radius);
  padding: var(--mixin-_h2xF3uWOw9f_padding-top)
    var(--mixin-_h2xF3uWOw9f_padding-right)
    var(--mixin-_h2xF3uWOw9f_padding-bottom)
    var(--mixin-_h2xF3uWOw9f_padding-left);
  border-top: var(--mixin-_h2xF3uWOw9f_border-top-width)
    var(--mixin-_h2xF3uWOw9f_border-top-style)
    var(--mixin-_h2xF3uWOw9f_border-top-color);
  border-right: var(--mixin-_h2xF3uWOw9f_border-right-width)
    var(--mixin-_h2xF3uWOw9f_border-right-style)
    var(--mixin-_h2xF3uWOw9f_border-right-color);
  border-bottom: var(--mixin-_h2xF3uWOw9f_border-bottom-width)
    var(--mixin-_h2xF3uWOw9f_border-bottom-style)
    var(--mixin-_h2xF3uWOw9f_border-bottom-color);
  border-left: var(--mixin-_h2xF3uWOw9f_border-left-width)
    var(--mixin-_h2xF3uWOw9f_border-left-style)
    var(--mixin-_h2xF3uWOw9f_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tYqub1Nktihl_font-family);
  border-radius: var(--mixin-tYqub1Nktihl_border-top-left-radius)
    var(--mixin-tYqub1Nktihl_border-top-right-radius)
    var(--mixin-tYqub1Nktihl_border-bottom-right-radius)
    var(--mixin-tYqub1Nktihl_border-bottom-left-radius);
  padding: var(--mixin-tYqub1Nktihl_padding-top)
    var(--mixin-tYqub1Nktihl_padding-right)
    var(--mixin-tYqub1Nktihl_padding-bottom)
    var(--mixin-tYqub1Nktihl_padding-left);
  border-top: var(--mixin-tYqub1Nktihl_border-top-width)
    var(--mixin-tYqub1Nktihl_border-top-style)
    var(--mixin-tYqub1Nktihl_border-top-color);
  border-right: var(--mixin-tYqub1Nktihl_border-right-width)
    var(--mixin-tYqub1Nktihl_border-right-style)
    var(--mixin-tYqub1Nktihl_border-right-color);
  border-bottom: var(--mixin-tYqub1Nktihl_border-bottom-width)
    var(--mixin-tYqub1Nktihl_border-bottom-style)
    var(--mixin-tYqub1Nktihl_border-bottom-color);
  border-left: var(--mixin-tYqub1Nktihl_border-left-width)
    var(--mixin-tYqub1Nktihl_border-left-style)
    var(--mixin-tYqub1Nktihl_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-tTUk6kCAWj9V_display);
  flex-direction: var(--mixin-tTUk6kCAWj9V_flex-direction);
  align-items: var(--mixin-tTUk6kCAWj9V_align-items);
  justify-content: var(--mixin-tTUk6kCAWj9V_justify-content);
  list-style-position: var(--mixin-tTUk6kCAWj9V_list-style-position);
  padding-left: var(--mixin-tTUk6kCAWj9V_padding-left);
  position: var(--mixin-tTUk6kCAWj9V_position);
  list-style-type: var(--mixin-tTUk6kCAWj9V_list-style-type);
  flex-column-gap: var(--mixin-tTUk6kCAWj9V_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-2VbsPljCQPcX_display);
  flex-direction: var(--mixin-2VbsPljCQPcX_flex-direction);
  align-items: var(--mixin-2VbsPljCQPcX_align-items);
  justify-content: var(--mixin-2VbsPljCQPcX_justify-content);
  list-style-position: var(--mixin-2VbsPljCQPcX_list-style-position);
  padding-left: var(--mixin-2VbsPljCQPcX_padding-left);
  position: var(--mixin-2VbsPljCQPcX_position);
  list-style-type: var(--mixin-2VbsPljCQPcX_list-style-type);
  flex-column-gap: var(--mixin-2VbsPljCQPcX_flex-column-gap);
}
